body {
	background: url('../img/wolken.png') no-repeat;
	background-position: center;
}

#logged-in { background-color: #fff; color: #333; }

#emmausinzicht {
	width: 650px;
	margin: 10px auto;
	padding: 10px;
	background-color:rgba(255,255,255,0.6);	
}
	#emmausinzicht .event-view { border: none;}
	#emmausinzicht .event-view-column { color: #333; }