#wrapper {
	width: 960px;
	margin: 0 auto;
}

#logo {
	float: left;
	margin: 10px;
}

#login{
	width: 750px;
	height: 350px;
	top: 50%;
	left: 50%;
	margin-left: -375px;
	margin-top: -150px;
	position: absolute;
	background-image:url('../img/wolken.jpg');
	background-size:750px 350px;
	box-shadow: 2px 2px 2px #888;
	-moz-box-shadow: 2px 2px 2px #888;
}

#login label, #event-page label {
	background:none;
	color: #444;
}
#login .required label:after, #event-page .required label:after, .childs .required label:after{ color: #e32; }
#login-header{
	text-align:center;
}

#login-content-left{
	margin: 20px 10px 0 20px;
	width: 330px;
	float: left;
	color: black;
}

#login-content-right{
	width: 375px;
	float: right;
	margin: 5px;
}

#logged-in {
	text-align: right;
	padding: 20px;
}

#elder-register {
	width:80%;
	margin: 0 auto;
}
	#elder-register #intro {
		background-color: #FFF8F3;
		padding: 1%;
		margin: 10px 0;
	}
	
	#elder-register #personal-info label, 
	#elder-register #email label,
	#elder-register .childs label { width: 20%; text-align: right; display:block; float:left }
	#elder-register #personal-info input[type="text"], 
	#elder-register #email input[type="text"],
	#elder-register .childs input[type="text"] { background-color: #eee; border: none; width: 50%}
	
	#elder-register h3 {
		color: #333;
		display: block;
		font-family: Arial, sans-serif;
		border-bottom: solid 1px #EF9935;
		font-size: 1.4em;
		line-height: 3em;
		padding-left: 10%;
		height: 50px;
	}
	
	#elder-register #personal-info h3 { background:url('../img/persoonlijke-gegevens.png') no-repeat; }
	#elder-register #email h3 { background:url('../img/email.png') no-repeat; }
	#elder-register #about-childs h3 { background:url('../img/kinderen.png') no-repeat; }
	#elder-register #about-childs .childs h3 { background:url('../img/kind.png') no-repeat; }
	
	#next { background: url('../img/volgendkind_klikbaar.png') no-repeat; padding-left: 40px; }
	#prev { background: url('../img/vorigkind_klikbaar.png') no-repeat; padding-left: 40px; }
	
.register-child { display: none; }
.clear { clear: both; }
.childs label { background: none; color: #444; }
.right { text-align: right; }
.float-right { float: right;}
.float-left { float: left; }
.center { text-align: center}

.childs fieldset { padding: 10px; }
.childs fieldset:nth-child(even) {
	background-color: #ddd;
	margin: 20px 0;
}

/* Event page */
#event-page {
	width: 75%;
	float: left;
}

.event-view {
	border: solid 1px #000;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-left: 25px;
	padding: 10px;
}
	.event-view h1 { text-align: center; font-size: 2em; }
	.event-view-photo { float: left; width: 30%; }
	.event-view-photo > img { width: 100% }
	.event-view-column { float: left; width: 65%; }
	
#event-right-column {
	width: 20%;
	float: right;
	padding: 10px;
}

div.event {
	padding: 10px;
	width: 200px;
	float: left;
}
div.event p { margin: 10px 0; }

.event_header {
	background-color: #ee3322;
	color: white;
	text-align: center;
	height: 40px;
}	

.event_info {
	background-image:url('../img/activiteit.png');
	background-repeat: no-repeat;
	height: 100%;
}

.create_on {
	font-size: 11px;
	font-style:italic;
}

#picto{
	width: 75%;
	float: left;
}

#picto .checkbox{
	float: left;
}

#event-right-column .checkbox {
	float: left;
}



#highlight { background-color: #E32; }

#visual {
	width: 90%;
	margin: 10px;
}

button#next, button#prev{
	display: none;
}

/* Custom upload button */
/*div.fileinputs {
	position: relative;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	width: 100%;
	text-align: center;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
}*/

input[type="file"] { font-size: 70% }

#accordion { margin: 20px; width: 90% }
	#accordion div table tr td { width: 50%}
